/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*** ===================== 
  CSS RESET ... ERIC MEYER'S: http://meyerweb.com/eric/tools/css/reset/ 
===================== ***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
  font-size: 72.5%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a,
a:visited,
a:hover,
a:active { text-decoration: none; }


.devmode { border: 2px solid orange; }

/*** ===================== 
  PALETTE
===================== ***/
$pale-blue: #e3f4fc;
$light-blue: #86c2de;
$light-border-gray: #c5c7c8;
$pale-gray: #e9ebeb;
$lp-gray: #cacacb;
$mid-gray: #666b6d;
$dark-blue: #0c2b39;
$warm-brown: #675e5a;
$orange: #fa7335;
$cool-green: #0d9f6e;
$green-gray: #8DB2A6;
$text: #0F2B4F;
$ivory: #f4f3ef;

$default-font-size: 15px;
$default-font-size_rems: 1.5rem;

/*** ===================== 
  MIXINS
===================== ***/
@mixin rounded($top, $right, $bottom:$top, $left:$right) {
  border-radius:$top $right $bottom $left;
  -moz-border-radius:$top $right $bottom $left;
  -webkit-border-radius:$top $right $bottom $left;
}
@mixin box_shadowed($x, $y, $blur, $size, $color) {
  box-shadow:$x $y $blur $size $color;
  -moz-box-shadow:$x $y $blur $size $color;
  -webkit-box-shadow:$x $y $blur $size $color;
}
@mixin text_shadow($x, $y, $blur, $color) {
  text-shadow:$x $y $blur $color;
}
@mixin padded($top, $right, $bottom:$top, $left:$right) {
  padding: $top $right $bottom $left;
}

@mixin icon($action, $file_type) {
  @include rounded(5px, 5px);
  display: inline-block;
  width: 21px;
  line-height: 22px;
  height: 21px;
  padding: 1px;
  margin: auto 2px;
  text-indent: -9999em;
  border: 1px solid $mid-gray;
  text-align: center;
  background: #ffffff url(#{asset_path('icon_' + $action + '.' + $file_type)}) no-repeat center center;
  background-size: 70% 70%;
  opacity: .45;
}

@mixin icon_hover {
  border-color: $lp-gray;
  opacity: .75;
  @include box_shadowed(0, 0, 4px, 0px, $mid-gray); 
}

@mixin side_flip {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

@mixin button {
  @include rounded(3px, 3px);
  @include padded(7px, 18px, 8px);
  border: 0;
  background: $light-blue;
  @include text_shadow(0, 1px, 0, $ivory);
  @include box_shadowed(0, 0, 1px, 0px, $dark-blue);
  line-height: 115%;
  color: $dark-blue;
  @include font_size_for(16px);
  transition: all 0.3s linear;
}

@mixin button_hover {
  background: lighten($light-blue, 8%);
  @include box_shadowed(0, 0, 3px, 0px, $dark-blue);
}

/* for responsive font-sizing in ems for different screens */
/* for responsive font-sizing in ems for different screens */
@mixin font_size_for($target, $context:$default-font-size) {
  font-size: $target/$context + em; 
}

@mixin flex_row {
  position: relative;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  -webkit-flex-direction: row;  
  -ms-flex-direction: row;
}

@mixin flex_col {
  position: relative;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: column;
  -webkit-flex-direction: column;  
  -ms-flex-direction: column;
}

/*** ===================== 
  GLOBAL STYLES
===================== ***/
html, body > .ember-view {
  height: 100%;
}

.left {
  float:left;
}

.right {
  float:right;
}

.ember-view {
  width: auto;
}

.hidden {
  display:none;
}

.full_height {
  height: inherit;
}

body {
  background: url(#{asset_path('178589874-1.jpg')}) no-repeat center center fixed;
  background-size: cover;
  font-family: "Verdana" ,"Arial", "Helvetica", sans-serif;
  font-weight: normal;
  line-height: 125%;
  height: 100%;
  color: $text;
}



.layout_cell {
  float: left;
  height: auto;
}
.abc .layout_cell{
  width: 33.025%;
}
.aab .layout_cell:nth-child(odd) {
  width: 33.025%;
  float: right;
}
.aab .layout_cell:nth-child(even) {
  width: 66.15%;
}
.abb .layout_cell:nth-child(odd) {
  width: 66.15%;
  float: right;
}
.abb .layout_cell:nth-child(even) {
  width: 33.025%;
}
.ab .layout_cell {
  width: 49.70%;
}
.full .layout_cell {
  float: none;
  width: inherit;
  margin: 0;
}
  
.logo {
  letter-spacing: 2px;
  @include font_size_for(24px);
  .logo_text {
    color: $cool-green;//$light-blue;
  }
  .network_text {
    color: #ffffff;
  }
}

.main_wrapper {
  height: 100%;
  margin: 0 1px -45px;
  padding-bottom: 45px;
}

.clearfix:after {
  content: "";
  height: 0;
  display: block;
  clear: both;
  zoom: 1;
}


h1 { @include font_size_for(32px); }
h2 { @include font_size_for(27px); }
h3 { @include font_size_for(24px); }
h4 { @include font_size_for(20px); }
h5 { @include font_size_for(18px); }
h6 { @include font_size_for(16px); }


/*** ===================== 
  ADD FLEXIBLE TEXT STYLES
===================== ***/
.label {
  @include font_size_for(13px);
  font-family: "Arial", "Geneva", sans-serif;
}
.paragraph_text {
  line-height: 125%;
}
.accented {
  font-style: italic;
}
.preview {
  @extend .label;
  @include font_size_for(9px);
  line-height: 0.9em;
  color: $light-blue;
}

.preview_label {
  @extend .preview;
  font-weight: 700;
  color: $light-border-gray;
}

/*** ===================== 
  ADD FLEXIBLE PADDING
===================== ***/
.padded_5 {
  @include padded(5px, 5px);
}
.padded_10 {
  @include padded(10px, 10px);
}
.padded_15 {
  @include padded(15px, 15px);
}
.padded_20 {
  @include padded(20px, 20px);
}

/*** ===================== 
  HOME PAGE
===================== ***/

.ribbon {
  // @include rounded(3px, 3px);
  background: $dark-blue;//$mid-gray;
  padding: 3px;
  margin: 5px 0 3px;
  color: #ffffff;
  position: relative;
  z-index: 2;
  ul {
    li {
      position: relative;
      float: left;
      text-align: center;
      padding: 4px 8px;
      a {
        color: $ivory;
        text-decoration: none;
        transition: color linear 0.32s;
        &.nav-link {
          display: block;
          @include font_size_for(17.5px);

          &:hover {
            color: $green-gray;
          }
        }
      }
    }
  }
  &.top {
    line-height: 1.6em;
    margin-top:1px;
    ul {
      li {
        a {
          color: $orange;
        }
        &.license {
          padding-left: 5em;
          padding-right: 5em;
        }
        &.login,
        &.greeting {
          float: right;
        }
      }
    }
  }
  &.menu {
    height: 20px;
    margin-top: -2px;
    margin-bottom: 1px;
    background: $mid-gray;//$dark-blue;
    ul {
      li {
        padding:1px 1.2em 4px;
        &.tool_item {
          float: right;
          color: $lp-gray;
          a {
            color: $lp-gray;
          }
          &.reset {
            padding-left: 5em;
            padding-right: 5em;
          }
        }
        &.user_address {
          float: right;
          @include font_size_for(14px);
        }
      }
    }
  }
}

.app_version {
  position: absolute;
  right: 15px;
  bottom: 55px;
  @include font_size_for(8px);
  color: black;
}

#timeline {
  position: relative;
  bottom: -38px;
  left: 0px;
  height: 42px;
  width: inherit;
  z-index: -1;
  color: black;
  background-color: rgb(206, 203, 203);
  padding: 3px 5px;
  border-width: 1px;
  margin: 0px 1px;
}



/*** ===================== 
  ICONS
===================== ***/

.confirm_icon {
  @include icon("confirm", "jpg");
}

.icon:hover {
  @include icon_hover;
}

.cancel_icon {
  @include icon("cancel", "jpg");
}

.delete_icon {
  @include icon("delete", "jpg");
}

.edit_icon {
  @include icon("edit", "jpg");
}


/*** ===================== 
  CONTENT PANES
===================== ***/
.resizable {
  overflow: auto;
  resize: both;
}

.hresizable {
  overflow: auto;
  resize: horizontal;
}
.vresizable {
  overflow: auto;
  resize: vertical;
}

.title_bar {
    position:relative;
    text-align: left;
    padding: 5px 10px;
    background: $light-blue;
}

.pane {
  position: relative;
  margin: 0 auto 20px;
  padding-bottom: 3px;
  // @include rounded(3px, 3px);
  @include box_shadowed(0, 0, 4px, 0px, $mid-gray);
  min-height: 25%;
  height: 100%;
  width: 75%;
  background: rgba(255,255,255,.85);

  .title_bar {
    @extend .title_bar;    
    .new_form_button {
      @include button;
      @include font_size_for(12px);
      position:absolute;
      top: 2px;
      right:6px;
      @include rounded(2px, 2px);
      padding:5px;
      text-align:center;
      background: lighten($pale-blue, 5%);
      border:1px solid darken($pale-blue, 10%);
      text-decoration:none;
      
      &:hover {
        border: 1px solid lighten($pale-blue, 15%);
        background: darken($pale-blue, 5%);
      }
    }
    .pane_title {
      @include text_shadow(0, 0, 2px, $dark-blue);
      @include font_size_for(20px);
      color: $pale-blue;
      line-height: 1.65em;
      
    }
  }
  
  .pane_content {
    position:relative;
    background: rgba(255,255,255, .8);
    border: 1px solid $light-border-gray;
    margin: 2px 6px 6px;
    min-height: 300px;
    
    .data_row {
      position:relative;
      padding: 10px 8px 9px;
      @include font_size_for(17px);
      color: $warm-brown;
      border-bottom: 1px solid $pale-gray;
      -webkit-transition: background linear .25s;
      transition: background linear .25s;
      
      &:hover {
        background: rgba(lighten($pale-blue, 3%), .9);
        cursor: pointer;

        * {
          color: invert($warm-brown);
        }
      }
    }
  }
}// end pane....

.widget {
  position: relative;
  margin: 10px 20px 15px;
  background: #ffffff;
  border: 4px solid $ivory;
  @include box_shadowed(0, 0, 1px, 0, $dark-blue);
  @include rounded(3px, 3px);

  .title_bar {
    @extend .title_bar;
    padding: 2px 8px;
    color: $warm-brown;    
  }

  .content {
    padding: 20px;
    @include font_size_for(12px);
    color: $dark-blue;
  }
}

/*** ===================== 
  EDIT/SHOW VIEW
===================== ***/
.layout_cell.flipping {
  position: relative;
  perspective: 800;
  -webkit-perspective: 800;
}
.record_flip {
  transition: all 0.25s ease-in-out;
  transform-style: preserve-3d;
  position: relative;
  height: 95%;
  width: 95%;
  margin: 2.5%;

  .face {
    width: 98%;
    height: 300px;
    position: absolute;
    border-radius: 4px;
    border: 5px solid $ivory;
  }

  .front,
  .back {
    box-shadow: 0 0 6px $mid-gray;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  .front {
    z-index: 2;
    background: #ffffff;
  }

  .back {
    background-color: $pale-gray;
    @include side_flip;
  }
}

.record_flip.editing {
  @include side_flip;
}

.view_title {
  line-height: 145%;
  @include text-shadow(0, 1px, 0, $ivory);
}

.edit_label {
  @extend .label;
  margin-top: 1.3em;
  line-height: 1em;
  color: $cool-green;
  text-transform: uppercase;
}

.edit_button {
  @include button;
}
.edit_button:hover {
  @include button_hover;
}
/*

PALETTE
$pale-blue: #e3f4fc;
$light-blue: #86c2de;
$light-border-gray: #c5c7c8;
$pale-gray: #e9ebeb;
$lp-gray: #cacacb;
$mid-gray: #666b6d;
$dark-blue: #0c2b39;
$warm-brown: #675e5a;
$orange: #fa7335;
$cool-green: #0d9f6e;
$green-gray: #8DB2A6;
$text: #0F2B4F;
$ivory: #f4f3ef;

*/

/*** ===================== 
  EDIT/SHOW TOOLBAR
===================== ***/
.toolbar {
  border-bottom: 1px solid #c8d2d4;
  margin-bottom: 0.15em;
  padding: 5px 10px 8px;
  background: $ivory;
}


/*** ===================== 
  DELETE MODAL CONFIRMATION
===================== ***/
.delete_wrapper {
  position: absolute;
  top: 40px;
  right: -15px;
  z-index: 3;
  background: $pale-gray;
  @include rounded(2px, 2px);
  @include box_shadowed(0, 0, 10px, 2px, $dark-blue);
  width: 75px;
  height: 25px;
  @include padded(4px, 2px);

  .point {
    position: absolute;
    top: -20px;
    left: 40%;
    width: 0px;
    height: 1px;
    background: transparent;
    border: 10px solid transparent;
    border-bottom-color: $pale-gray;
    &:after {
      @include box_shadowed(0, -2px, 2px, 0px, $dark-blue);
    }
  }
}

/*** ===================== 
  NEW FORM
===================== ***/

.new_form_wrapper {
  position: absolute;
  top: 36px;
  right: 1px;
  padding: 5px 20px 10px;
  display: none;
  @include box_shadowed(-1px, 1px, 4px, 0px, $mid-gray);
  @include rounded(0, 0, 0, 4px);
  background: $light-blue;
  z-index: 2;
  width: 55%;
}

form {
  input[type='text'],
  input[type='password'],
  textarea {
    @include rounded(4px, 4px);
    padding: 9px 12px;
    line-height: 115%;
    border: 0;
    box-shadow: inset 0 1px 1px $lp-gray,
                inset 0 -1px 2px $lp-gray;
    &:focus
    &.focus {
      box-shadow-color: $pale-blue;
    }
  }
  select {
    padding: 6px 8px;
    border: 0;    
  }
  .full_width {
    width: 90%;
  }
}

.new_form_wrapper {
  textarea {
    height: 4.5em;
  }
}

label {
  padding-right: 2%;
  text-align: right;
  @include font_size_for(13px);
  @include text_shadow(0, 1px, 0, $ivory);  
}

.save_button {
  @include button;
  background: $ivory;
}
.save_button:hover {
  @include button_hover;
}

.preview_text {
  font: italic 0.72em/0.88em sans-serif;
}

.content_table {
  width: 99%;
  margin: 2px auto;
  .content_table_row {
    padding: 4px 0;
    margin-bottom: 8px;
    clear: both;
  }

  .content_table_row:before,
  .content_table_row:after {
    display: table;
  }

  .content_table_cell {
    display: block;
    padding: 0;
    margin-left: 23%;
    line-height: 1.4em;
    min-height: 26px;
    text-align: left;

    &.label {
      @extend label;
      float: left;
      margin-left: 0;
      width: 20%;
      max-width: 20%;
      color: lighten($dark-blue, 10%);
    }
  }

  .content_table_cell input[type='text'],
  .content_table_cell select,
  .content_table_cell textarea,
  .content_table_cell input[type='password'] {
    width: 95%;
  }

}

.error {
  border: 1px solid red;
}


/*** ===================== 
  DASHBOARD
===================== ***/
.dashboard_wrapper {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.flow_wrapper {
  border: 3px solid $cool-green;
  background-opacity: 0.4;
  background: $light-blue;
}

/* flex cells ... */
.flex_containers {
  padding: 0;
  margin: 0;
  overflow: hidden;
  // width: 100%;

  &.rows {
    @include flex_row;
  }
  &.cols {
    @include flex_col;
  }

  .flex_cells {
    position: relative;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    transition: width 0.25s ease-out;
    -webkit-transition: width 0.25s ease-out;
    -moz-transition: width 0.25s ease-out;
    max-height: 100%;
    max-width: 100%;
  }
}

/* flex widths ... */

.x25 {
  width: 24.75%;
}
.x33 {
  width: 33.25%;
}
.x50 {
  width: 49.85%;
}
.x75 {
  width: 74.75%;
}
.x {
  width: 99.99%;
}

/* flex heights ... */

.y20 {
  height: 19.975%;
}

.y25 {
  height: 24.75%;
}
.y33 {
  height: 33.25%;
}
.y50 {
  height: 49.85%;
}
.y75 {
  height: 74.75%;
}
.y {
  height: 99.99%;
}

.resize_handler {
  position: absolute;
  padding: 1px;
  background: black;
  font-size: 0.1em;
}

.hresize_handler {
  @extend .resize_handler;
  width: 5px;
  height: 100%;
  top: 0;
  right: -2px;
  cursor: e-resize;
}
.vresize_handler {
  @extend .resize_handler;
  width: 100%;
  height: 5px;
  left: 0;
  bottom: 0;
  cursor: s-resize;
}

/*
PALETTE
$pale-blue: #e3f4fc;
$light-blue: #86c2de;
$light-border-gray: #c5c7c8;
$pale-gray: #e9ebeb;
$lp-gray: #cacacb;
$mid-gray: #666b6d;
$dark-blue: #0c2b39;
$warm-brown: #675e5a;
$orange: #fa7335;
$cool-green: #0d9f6e;
$green-gray: #8DB2A6;
$text: #0F2B4F;
$ivory: #f4f3ef;
*/

.cols .header {
  @include padded(10px, 8px);
  @include font_size_for(12px);
  top: 0;
  left: 0;
  background: $cool-green;
  opacity: 0.8;
  color: $warm-brown;
}





































