%ul
  %li.nav-link
    =link_to 'home', '#/', class: 'nav-link'
  %li
    =link_to 'about', '#/about', class: 'nav-link'
  %li
    =link_to 'notes', '#/notes', class: 'nav-link'
  %li
    =link_to 'remotes', '#/remotes', class: 'nav-link'
  %li
    =link_to 'users', '#/users', class: 'nav-link'
  %li
    =link_to 'dashboard', '#/sbd-dash', class: 'nav-link'