%ul
  %li
    =link_to 'Alerts', '#/alerts', class: 'nav-link'
  %li
    =link_to 'Analytics', '#/analytics', class: 'nav-link'
  %li
    =link_to 'Devices', '#/devices', class: 'nav-link'
  %li
    =link_to 'Policies', '#/policies', class: 'nav-link'
  %li
    =link_to 'Settings', '#/manage', class: 'nav-link'
  / %li
  /   =link_to 'notes', '#/notes', class: 'nav-link'
  / %li
  /   =link_to 'remotes', '#/remotes', class: 'nav-link'
  / %li
  /   =link_to 'users', '#/users', class: 'nav-link'
  / %li
  /   =link_to 'dashboard', '#/sbd-dash', class: 'nav-link'