%ul
  %li.logo
    =link_to('/#/', class: 'nav-link') do
      %span.logo_text="sideband"
      %span.network_text=" networks"
  %li.license
    =link_to 'license?', ''
  %li.login
    =link_to 'Login', ''
  %li.greeting
    Hello, Base item
